<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Django</title>
</head>
<body>
    {% include 'superior/barra.html' %}
    <h1>Esta es mi primera pagina con python</h1>
    <h2>Mi nombre es {{nombre_persona}} {{apellido_persona}} </h2>
    <h3>Fecha Actual: {{ahora.day}}/{{ahora.month}}/{{ahora.year}} </h3>

    <form action="/buscar" method="get">
        <input type="text" name="productos">
        <input type="submit" value="Buscar" >
    </form>
</body>
</html>