<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}{end block} </title>
    <style>
        #footer{
            background-color: aquamarine;
            text-align: center;
        }
    </style>

</head>


<body>
    {% include 'superior/barra.html'%}
    <p>Fecha: {{fecha}}</p>
    {% block content %} {% endblock %}
    

    <p id="footer">Qantris Hosting | All Rights Reserved.</p>
</body>
</html>