<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: aquamarine;
            text-align: right;
        }
        #barra li{
            display: inline;
            
        }


    </style>
</head>
<body>
    <ul id="barra">
        <li>Home</li>
        <li>Servicios</li>
        <li>Quienes Somos</li>
        <li>Contacto</li>
    </ul>

</body>
</html>